<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Weather App
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div class="container">
      <div class="row">
          <div class="col-md-4 offset-md-4">
              <div class="weather">
                  <div class="current">
                      <div class="info">
                        <!-- date information -->
                          <h2>{{date | date: 'EEEE'}} {{date | date: 'dd'}}-{{date | date:'MM'}}-{{date | date: 'yy'}}</h2>
                          <h2> {{ date | date : 'hh:mm:ss'}}</h2>
                           <div>&nbsp;</div> 
                           <!-- city name -->
                          <div class="city"><small><small>CITY: </small>{{name}}</small></div>
                          <div class="temp">{{values?.list[0].main.temp | number : '1.0-0'}} <small>&#8451;<img class="img1" 
                            src="http://openweathermap.org/img/wn/{{values?.list[0].weather[0].icon}}@2x.png"></small></div>
                          <div class="wind"><small><small>WIND:</small></small> {{values?.list[0].wind.speed}} km/h</div>
                          <div>&nbsp;</div>
                          <ion-searchbar showCancelButton="focus" [(ngModel)]="city"></ion-searchbar>
                          <ion-button color="tertiary" expand="block" fill="solid" (click)="searchData()">Search</ion-button>
                      </div>
                 
                  </div>
                  <!-- future dates -->
                  <div class="future">
                      <div class="day"> 
                          <h3 style=" border-right: 3px solid black ;">{{values?.list[8].dt_txt | date : 'EE HH:mm'}}</h3>
                          <P style=" border-right: 3px solid black ;">{{values?.list[8].main.temp | number : '1.0-0'}}&#8451; <br>
                          {{values?.list[8].weather[0].description }}<br>
                          <img src="http://openweathermap.org/img/wn/{{values?.list[8].weather[0].icon}}@2x.png"></P>
                          
                      </div>
           
                      <div  class="day">
                          <h3 style=" border-right: 3px solid black ;">{{values?.list[16].dt_txt | date : 'EE HH:mm'}}</h3>
                          <P style=" border-right: 3px solid black;">{{values?.list[16].main.temp | number : '1.0-0'}} &#8451;<br>
                          {{values?.list[16].weather[0].description }}<br>
                          <img src="http://openweathermap.org/img/wn/{{values?.list[12].weather[0].icon}}@2x.png"></P>
                        
                      </div >
                      <div  class="day">
                          <h3 style=" border-right: 3px solid black ;">{{values?.list[24].dt_txt | date : 'EE HH:mm'}}</h3>
                          <P style=" border-right: 3px solid black;">{{values?.list[24].main.temp | number : '1.0-0'}} &#8451;<br>
                          {{values?.list[24].weather[0].description }}<br>
                        <img src="http://openweathermap.org/img/wn/{{values?.list[20].weather[0].icon}}@2x.png">
                        </P>
                    </div>
                    </div>
                    
                </div>
          </div>
      </div>
   
  </div>
  
</ion-content>