.container{
    background-image:
    linear-gradient(
      to top right, 
      lightblue, #7044ff
    );
   
}

.weather
{
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0px 1px 10px 0px #cfcfcf;
    overflow: hidden;
}

    .weather .current
    {
        display: flex;
        flex-flow: row wrap;
        background-image: url("src/assets/images/colorful-abstract-vector-background.jpg");
        background-repeat: repeat-x;
        color: white;
        padding: 19px;
        text-shadow: 1px 1px #7044ff;
        background-position: right;
        height: 100%;
    }

        .weather .current .info
        {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            flex-grow: 2;
        }

            .weather .current .info .city
            {
                font-size: 26px;
            }

            .weather .current .info .temp
            {
                font-size: 56px;
            }

            .weather .current .info .wind
            {
                font-size: 24px;
            }

        .weather .current .icon
        {
            text-align: center;
            font-size: 60px;
            flex-grow: 1;
        }

    .weather .future
    {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
       
         
        
     
      
    }

        .weather .future .day
        {
            flex-grow: 1;
            text-align: center;
            cursor: pointer;
            height: 100%
        }

           
            .weather .future .day h3
         {
                text-transform: uppercase;
        }

            .weather .future .day p
        {
                font-size: 14px;
                height: 100%;
        }

.img1{

    left: 38%;
    position: absolute;
}

// .container{
//     height: 100%;
//     background-image:
//     linear-gradient(
//       to top right, 
//       lightblue, #7044ff
//     );
     



       